version: '3.9'
services:
  frontend:
    build: 
      context: ./frontend
    container_name: your_app_frontend
    command: npm run dev -- -p 3333
    ports:
      - '3333:3333'
    volumes:
     - ./frontend:/frontend
    depends_on:
      - backend
  backend:
    container_name: your_app_backend
    command: bundle exec rails s -b '0.0.0.0'
    build: 
      context: ./backend
    depends_on:
      - "database"
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/backend
  database:
    image: postgres
    volumes:
      - your_app_pgdata:/your_app_pgdata
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /your_app_pgdata
    restart: always
  redis:
    image: redis:latest
volumes:
  your_app_pgdata:
    external: true
